.manage-wrapper {
  padding: 1rem;
  text-align: center;
}

.add-type {
  width: 50%;
}

.type-cards {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.manage-card-head  {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width: 1024px) {
  .type-cards {
    flex-direction: column;
  }
}