.equipment-card {
    margin: 1rem;
    border-radius: 10px;
    min-width: 250px;
    box-shadow: 0 0 10px rgba(188,188,188,0.54);
    opacity: 0.8;
    padding: 20px;
    text-align: left;
}

.equipment-card .input-group-field {
    margin: 20px 0;
}
.equipment-card-head  {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.equipment-card label {
    color: #919191;
}