.equipment-wrapper {
    padding: 1rem;
    text-align: center;
}

.add-equipment {
    width: 51%;
    margin: 10px;
}

.equipment-cards {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}